/* Default text, color, spacing and background color */
body {
    font-size: 14px;
    color: #333;
    background-color: #fff;
    letter-spacing: 1px;
}
/* For the slides */
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    /* order in which things are shown*/
     z-index: 3; /* z-index for the prev and next buttons */
     /* What makes the images seem a bit darker */
    background-color: rgba(0, 0, 0, 0.4);
}
/* Override z-index for .slides-navigation in superslides.css*/
.slides-navigation {
    z-index: 6;
}
.slides-navigation .prev,
.slides-navigation .next {
    width: 47px;
    height: 47px;
    background-size: cover;
    background-repeat: no-repeat;
}
.slides-navigation a.prev {
    left: 20px;
    background-image: url(https://mappykk.github.io/palidemographicswebsite/Previous_Icon.png);
}
.slides-navigation a.next {
    right: 20px;
    background-image: url(https://mappykk.github.io/palidemographicswebsite/Next_Icon.png);
}
.titleMessage {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 5;
    text-align: center;
    /* How high or low the text is */
    margin-top: -75px 
}
.titleMessage .heading p {
    color: #fff;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.4);
    font-weight: 100;
    letter-spacing: 7px;
}
.titleMessage .heading .main {
    font-size: 32px;
}
.titleMessage .heading .sub {
    font-size: 20px;
}
.section {
    /* Padding is basically the borders of a container or box */
    padding: 100px 0;
    
}
.aboutImage {
    max-width: 100%;
}
.chartsSection,
.contactSection {
    /* z-index: 6; */
    background-color: red;
    color: #fff;
}
.text {
    text-align: center;
}
.chart {
    position: relative;
    width:250px;
    height:250px;
    display: inline-block;
    margin-left: 25px;
    text-align: center;
}
.owl-carousel .owl-nav {
    text-align: center;
    font-size: 50px;
}
.squareItem {
    margin-top: 15px;
    position: relative;
    margin-bottom: 30px;
}

.squareInnerContainer {
    position: relative;
    /* How large the container will be 50px on the top, 15px on the right, 35px on the bottom 15px on the left*/
    padding: 50px 15px 35px;
    text-align: center;
    border-top: none; 
}
.squareInnerContainer:before,
.squareInnerContainer:after {
    content: '';
    position: absolute;
    top: 0px;
    width: 30%;
    
}
.squareInnerContainer:before {
    right: 0px;
}
.squareInnerContainer:after {
    left: 0px;
}

.squareInnerContainerAreaA {
    border: 2px solid #999393;
    border-top: none; 
}
.squareInnerContainerAreaA:before,
.squareInnerContainerAreaA:after {
    border-bottom: 2px solid #999393;
}
.squareInnerContainerAreaB {
    border: 2px solid #c2185b;
    border-top: none; 
}
.squareInnerContainerAreaB:before,
.squareInnerContainerAreaB:after {
    border-bottom: 2px solid #c2185b;
}
.squareInnerContainerAreaC {
    border: 2px solid #55872f;
    border-top: none; 
}
.squareInnerContainerAreaC:before,
.squareInnerContainerAreaC:after {
    border-bottom: 2px solid #55872f;
}
.squareInnerContainerNatureReserve {
    border: 2px solid #fff04c;
    border-top: none; 
}
.squareInnerContainerNatureReserve:before,
.squareInnerContainerNatureReserve:after {
    border-bottom: 2px solid #fff04c; 
}
.squareInnerContainerAreaH1 {
    border: 2px solid #999393;
    border-top: none; 
}
.squareInnerContainerAreaH1:before,
.squareInnerContainerAreaH1:after {
    border-bottom: 2px solid #999393;
}
.squareInnerContainerAreaH2 {
    border: 2px solid #815ed3;
    border-top: none; 
}
.squareInnerContainerAreaH2:before,
.squareInnerContainerAreaH2:after {
    border-bottom: 2px solid #815ed3;
}
.squareInnerContainerEastJerusalem {
    border: 2px solid #55872f;
    border-top: none; 
}
.squareInnerContainerEastJerusalem:before,
.squareInnerContainerEastJerusalem:after {
    border-bottom: 2px solid #55872f;
}
.squareInnerContainerIsraelProper {
    border: 2px solid #55872f;
    border-top: none; 
}
.squareInnerContainerIsraelProper:before,
.squareInnerContainerIsraelProper:after {
    border-bottom: 2px solid #55872f;
}


/*  Example container (one class) Nature Reserve Container */
/* .squareInnerContainer4 {
    position: relative;
     How large the container will be 50px on the top, 15px on the right, 35px on the bottom 15px on the left
    padding: 50px 15px 35px;
    text-align: center;
    border: 2px solid #fff04c;
    border-top: none; 
}
.squareInnerContainer4:before,
.squareInnerContainer4:after {
    content: '';
    position: absolute;
    top: 0px;
    width: 30%;
    border-bottom: 2px solid #fff04c; 
}
.squareInnerContainer4:before {
    right: 0px;
}
.squareInnerContainer4:after {
    left: 0px;
} */


.squareContent h2 {
    font-size: 56px;
    /* Adds space between the h2 and h3 */
    margin-bottom: 10px;
    /* Thickness */
    font-weight: 400;
    color: red;
}
.squareContent h3 {
    font-size: 13px;
    font-weight: 600;
    margin: 0;
}

.squareIcon {
    position: absolute;
    left: 50%;
    top: -30px;
    /* 30 (before) + 30 (after) + 40 = 100% */
    width: 40%;
    height: 60px;
    font-size: 45px;
    margin-left: -20%;
    color: black;
}
/* Special Styling for Area H1 and H2 */
.squareIcon1 {
    position: absolute;
    left: 50%;
    top: -30px;
    /* 30 (before) + 30 (after) + 40 = 100% */
    width: 30%;
    height: 60px;
    font-size: 45px;
    margin-left: -20%;
    color: black;
}
.squareIcon2 {
    position: absolute;
    left: 50%;
    top: -30px;
    /* 30 (before) + 30 (after) + 40 = 100% */
    width: 60%;
    height: 60px;
    font-size: 45px;
    margin-left: -20%;
    color: black;
}
/* Special Styling for Area H1 and H2 */
.squareIcon3 {
    position: absolute;
    left: 50%;
    top: -30px;
    /* 30 (before) + 30 (after) + 40 = 100% */
    width: 25%;
    height: 60px;
    font-size: 45px;
    margin-left: -20%;
    color: black;
}
.squareIcon4 {
    position: absolute;
    left: 50%;
    top: -30px;
    /* 30 (before) + 30 (after) + 40 = 100% */
    width: 55%;
    height: 60px;
    font-size: 45px;
    margin-left: -20%;
    color: black;
}
.contactButton {
    color: #fff;
    /* 15px top bottom, 20px left right */
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 2px;
}
/* What happens when you hover over the button */
.contactButton:hover {
    text-decoration: none;
    color: red;
    background-color: #fff;
    transition-duration: 350ms;
}
/* anchor tags */
.filter a {
    color: #bdc3c7;
    border: 1px solid #bdc3c7;
    padding: 10px 18px;
    display: block;
}
.filter li {
    /* Makes the list horizontal instead of vertical */
    display: inline-block;
    padding: 5px;
}
/* Whatever the user presses on */
.filter .current {
    background-color: red;
    border-color: red;
    color: #fff;
}
/* Button Location */
.filter {
    text-align: center;
    width: 100%;
}
.section .heading {
    text-align: center;
    /* Adds space between the heading and buttons */
    padding-bottom: 40px;
    width: 100%;
}
.items li {
    display: inline-block;
    padding: 5px;
}
.itemsContainer {
    width: 100%;
}
.items li img {
    width: 100%;
    -webkit-transition: all 0.2s linear 0.5s;
    -moz-transition: all 0.2s linear 0.5s;
    -o-transition: all 0.2s linear 0.5s;
    -ms-transition: all 0.2s linear 0.5s;
    -transition: all 0.2s linear 0.5s;
}
.items .item {
    position: relative;
    display: block;
    overflow: hidden;
}
.items .icons {
    position: absolute;
    width: 90px;
    height: 60px;
    left: 100px;
    top: 150px;
    margin: -20px auto 0 -7px;
    text-align: center;
    z-index: 3;
}
.items .icons i {
    color: #fff;
    font-size: 20px;
    margin-top: 9px;
}
.items a {
    width: 40px;
    height: 40px;
    background-color: red;
    position: relative;
    display: inline-block;
    /* Transitions for different browsers */
    -webkit-transition: all 0.2s linear 0.2s;
    -moz-transition: all 0.2s linear 0.2s;
    -o-transition: all 0.2s linear 0.2s;
    -ms-transition: all 0.2s linear 0.2s;
    -transition: all 0.2s linear 0.2s;


}
.items .imageOverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    /* Transparent */
    opacity: 0;
    /* Transitions for different browsers */
    -webkit-transition: all 0.2s linear 0.5s;
    -moz-transition: all 0.2s linear 0.5s;
    -o-transition: all 0.2s linear 0.5s;
    -ms-transition: all 0.2s linear 0.5s;
    -transition: all 0.2s linear 0.5s;

}
.items .item:hover .imageOverlay {
    /* Opaque */
    opacity: 1;
}
/* When not hovering over */
.items .openButton {
    float: left;
    left: -200px;
}
.items .projectLink {
    float: right;
    right: -200px;
}
/* When hovering over */
.items .item:hover .openButton {
    left: 0px;
}
.items .item:hover .projectLink {
    right: 0px;
}
.items .item:hover img {
    /* Transform for different browsers, scale allows zooming in */
    -webkit-transform: scale(1.05,1.05);
    -moz-transform: scale(1.05,1.05);
    -o-transform: scale(1.05,1.05);
    -ms-transform: scale(1.05,1.05);
    -transform: scale(1.05,1.05);
}
/* Allows for more items to fit on one line */
.items {
    padding: 0;
}
.copyrightSection {
    background-color: #000;
    color: #fff;
    padding: 30px 5px;
}
.copyrightSection p {
    margin: 0;
}
/* # sign to access id */
#navigation {
    background-color: red;
    padding: 20px 10px;
    z-index: 100;
    width: 100%;
}
/* Puts space in between of each navigation link */
#navigation  li {
    padding: 0 10px;
}
/* Color to nav bar links */
#navigation li a {
    color: #fff;
}
/* Color to nav bar title, stays the same when hovering */
.navbar-brand {
    color: #fff;
}
.navbar-brand:hover {
    color: #fff;
}
.navbar-toggler-icon {
    background: url(https://mappykk.github.io/palidemographicswebsite/Menu_Icon.png);
    background-size: 100%;
}
/* Applies the fixed Navigation bar allowing it to move down on scroll */
.fixedNav #navigation {
    position: fixed;
    top: 0;
}
.loader {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
}
.loader .inner {
    width: 100%;
    height: 100%;
    /* Vertically and horizontally centered (middle of the screen), no repeats so it wont repeat itself to fill the available space  */
    background: url(https://mappykk.github.io/palidemographicswebsite/loader.gif) center center no-repeat;
}

#mapframe {
    max-width: 100%;
    display: block;
    height: 500px;
    max-height: 100%;
}
